<div id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}" class="tab-pane buffer-top {{ viewElement.loop.first ? 'active' : '' }}">
    {{ dataGrid.renderHistoryGrid(form.vars.value) }}
</div>
